// src/assets/scss/_variables.scss

// Paleta de 3Tech Panamá
$color-primario: #0d4b80;       // El azul oscuro principal
$color-secundario: #f26824;     // El naranja de los detalles

// Paleta de grises y texto
$texto-principal: #333333;
$texto-secundario: #6c757d;
$fondo-claro: #f8f9fa;
$blanco: #ffffff;

// Tipografía
$fuente-principal: 'Roboto', sans-serif;