<nav class="header-container">
  <div class="logo">
    <a routerLink="/home">
      <img src="assets/images/logo.png" alt="Logo 3Tech Panamá">
    </a>
  </div>

  <ul class="nav-links">
    <li>
      <a routerLink="/servicios" routerLinkActive="active-link">Servicios</a>
    </li>
    <li>
      <a routerLink="/proyectos" routerLinkActive="active-link">Proyectos</a>
    </li>
    <li>
      <a routerLink="/nosotros" routerLinkActive="active-link">Sobre Nosotros</a>
    </li>
    <li>
      <a routerLink="/contacto" routerLinkActive="active-link">Contacto</a>
    </li>
  </ul>
</nav>